  <div class="col-md-4">
  <div class="card" style="width: 18rem;" >
    <div id="<%= dom_id movie %>" class="card-body">
      <p class="card-title">
        <strong><%= movie.title %></strong>
      </p>

      <p class="card-text">
        <%= movie.overview %>
      </p>
      <p>
        <i class="fa-regular fa-star"></i><%= movie.rating %>
      </p>

      <p>
      <i class="fa-regular fa-comment"></i><%= movie.comment(@bookmark) %>
      </p>
    </div>
  </div>
  </div>
